

$main: rgb(53, 66, 59);
$secondary: #DDD7D7;
$nav: rgba(221, 215, 215, 0.295);
$fontPrimary:'PT Mono', monospace;


@import './SassPartials/navigation';
@import './SassPartials/animation';
@import './SassPartials/projects';
@import './SassPartials/about';
@import './SassPartials/contact';
@import './SassPartials/footer';



html, body, ul, ol {
  margin:  0;
  padding: 0;
}

.App {
  height: 80%;
}

@media (max-width: 839px) {
  div.contact_div {
   div.websites {
      padding: 20px 10px;
      margin-top: -5px;
    }
    img {
      margin-top: 35px;
    }
  }
}

@media (max-width: 375px) {
  .navigation {
    a {
      font-size: 17px;
    }
  }  

  svg {
    max-width: 375px;
  }

}


