

$main: rgb(53, 66, 59);
$secondary: #DDD7D7;
$nav: rgba(221, 215, 215, 0.295);
$fontPrimary:'PT Mono', monospace;


@import './SassPartials/navigation';
@import './SassPartials/animation';
@import './SassPartials/projects';
@import './SassPartials/about';
@import './SassPartials/contact';
@import './SassPartials/footer';



html, body, ul, ol {
  margin:  0;
  padding: 0;
  width: 100% !important;
}

.App {
  height: 80%;
}

div.svg_container {
  width: 100%;
}

@media (max-width: 780px) {
  .contact {
    div.websites {
      margin-bottom: 0px;
    }
  
  }
}

@media (max-width: 411px) {
  
  div.app {
    display: flex;
  }

  div.svg_container {
    width: 100%;
  }

  header {
    width: 100%;
  }

  svg {
    position: relative;
    left: 7px;
  }

  div.contact_div {
    
   div.websites {
      padding: 20px 10px;
      margin-top: -5px;
      margin-bottom: 0px;
      height: 120px;
    }
    iframe {
      margin-bottom: 70px;
    }
  }

  div.MuiToolbar-root {
    width: 375px;
    h6 {
      font-size: 20px;
    }
  }

  .navigation {   
    a {
      font-size: 12px;
    }
  }  

  svg {
    max-width: 375px;
  }
}




